@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@300;400;500;700&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&family=PT+Sans&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box}
body{
    background-image:url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh}

.page{
    display: flex;
    flex-direction: column;
    background-color:white;
    max-width: 450px;
    /* height: 700px; */
    font-family: "Red Hat Display";
    border-radius: 1em; 
    overflow: hidden}
.bottom{
    margin: 50px;
    height: 100%;
    display: flex;
    gap:2.5vh;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: 700}
.title{
    font-size: clamp(1.5em,2vw,1.75em);
    font-weight: 900;
    color: hsl(223, 47%, 23%)}
p{
    font-size: 16px;
    font-weight: 500;
    font-size: clamp(16px,2.2vw,18px);
    color: hsl(224, 23%, 55%)}
.subscribtion{
    background-color: hsl(225, 100%, 98%);
    border-radius: .7em;
    display: flex;
    height: 5.5rem;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
    position: relative}
.subscribtion>*{
    margin: 10px}
.price{
    font-weight: initial;
    color: hsl(224, 23%, 55%)}
.change{
    position: absolute;
    right: 10px;
    color:hsl(245, 75%, 52%)} 
.change a{
    color: inherit}
.change:hover a{
    text-decoration: none;
    opacity: .8}
   
button{
    background-color: hsl(245, 75%, 52%);
    border-radius: .7em;
    font-family: inherit;
    border: none;
    height: 3.6em;
    color: white;
    width: 100%;
    font-weight: inherit;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0 hsla(245, 75%, 52%, 0.621)}
button:hover{
    opacity: .8}
button+a{
    text-decoration: none;
    color: hsl(224, 23%, 55%)}
button+a:hover{
    color: hsl(223, 47%, 23%)}


.attribution{
    text-align: center;
    margin: 50 auto}

@media (max-width:500px){
    body{
        background-image: url(./images/pattern-background-mobile.svg);
        display: initial}
    .page{margin: 10% 5%;}
}
@media (max-width:375px){ 
    .page{height: fit-content}
    .bottom{
        margin:30px;
        gap:20px}

    .subscribtion{font-size:3.5vw}
    .change{right: 5px}
}
